@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: "Poppins", sans-serif;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #119177;
  color: white;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top:0%
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #ffffff;
}

.navul  {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navul  a {
  color: white;
}
#navul{
  list-style: none;
}
#navul  a {
  color: white;
}

.navul .navli, #navli {
  padding: 5px;
  margin-left: 10px;
}

.navul .navli:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
#navli:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 5px;
  padding: 5px 8px;
}

#login {
  border: 1px solid #fdfdfd;
}

#signup {
  border: 1px solid #ff3860;
}

#signup a {
  color: #ff3860;
}

#login a {
  color: white;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #119177;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu #navli {
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
  .dpimg{
    display: none;
  }
}


.dpimg{
    width: 262px;
    height: 255px;
    margin-top: 18px;
  }
  .hheader {
    padding: 5px;
    text-align: center;
    background: #119177;
    color: white;
    margin-top: 34px;
  }
  h1{
    font-size: 3.8rem;
    font-weight: 800;
}
p{
    font-size: 2.3rem;
}
.hshow{
  display: flex;
  justify-content: space-around;
}
.ttl{
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: center;
  align-content: flex-start;
  margin-right: 300px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.39);
  max-width: 350px;
  margin: 46px auto;
  text-align: center;
  font-family: arial;
}
.price {
  color: grey;
  font-size: 30px;
}
.productn {
  font-size: 2.2rem;
  font-weight: 700;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card button:hover {
  opacity: 1.2;
}
.pinfo{
  margin-top: 0.50rem;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 2.75rem;
}
.aboutul{
    
  font-size: 1.50rem;
  padding: 5rem;
  font-weight: 400;
  list-style-type: none;
}
.aboutli{
  padding: 1rem;
}
.pimg{
height: 320px;
margin-top: 40px;
}
.Hhilight{
  font-size: 3.23rem;
  font-weight: 520;
  text-align: center;
  margin-top: 102px;
}
.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: #ddd;
}
.contactus{
  font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}
.lik{
  color: #04AA6D;
}
.linkss{
  color:  #229ED9;
}
.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text]{
  width: 99%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
input[type=tel] {
  width: 99%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}


label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}
.svg{
  height: 25px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}
.ftext{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  object-fit: contain;
}
.fbtn{
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media only screen and (max-width: 750px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
  .dpimg{
    display: none;
  }
  .pimg{
    display: none;
  }
  .contactus{
    padding-left: 12px;
    padding-right: 10px;
  }
  .footer{
    padding: 10px;
  }
  .containerfooter{
    padding-left: 12px;
  }
  }
@media only screen and (max-width: 1000px){
  .header{
    padding: 0;
  }
  .home{
    margin-top: -1px;
  }
  .hshow{
    text-align: center;
  }
  .dpimg{
    display: none;
  }
  .pimg{
    display: none;
  }
  
  .ttl{
    margin-right: 10px;
  }
  .card{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 39%);
    max-width: 275px;
    margin: 30px auto;
    text-align: center;
    font-family: arial;
  }
  .contactus{
      font-size: 2.2rem;
      display: flex;
      flex-direction: column;
      align-content: space-around;
      align-items: center;
  }
  .contHEAD{
    font-size: 1rem;
    font-weight: bold;
  }
  .aboutul{
    font-size: 1.50rem;
    padding: 0.1rem;
  }
  .aboutli{
    padding: 0px;
    margin-left: 38px;
    margin-right: 5px;
  }
  .pinfo{
    align-items: flex-start;
    margin-left: -19px;
    margin-top: 20px;
  }
  
}
.checkout{
  display: flex;
}
.description ,.total{
  font-size: 1.5rem;
}
.total{
  margin-left: 10px;
}
#quantity{
  width: 52px;
  height: 46px;
  margin-left: 22px;
  margin-top: -4px;
}
#TOTAL{
  width: 60px;
  height: 46px;
  margin-left: 7px;
  margin-top: -4px;
}

#alws{
  font-size: 1rem;
}
.infoid{
  display: flex;
  align-items: self-start;
  flex-direction: column;
  margin-left: 55px;
  color: red;
  font-weight: bold;
}
